* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $_gray-800;
  color: $_gray-100;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif;
}

input[type="text"],
input[type="number"] {
  flex: 1;
  border-radius: 6px;
  padding: 1rem;
  border: none;
  background-color: $_gray-900;
  color: $_gray-300;
  outline: none;

  &::placeholder {
    color: $_gray-500;
  }

}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 1px solid $_green-300;
}

button {
  background-color: $_green-500;
  border: none;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  color: $_white;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background: $_green-700;
    transition: background-color 0.2s;
  }
}