.transactions-container__table {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    margin-top: 1.5rem;

    th,td {
      padding: 1.25rem 2rem;
      background: $_gray-700;
      text-align: center;
      
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }

    th {
      background: $_green-700;
    }
  }

  &--income {
    color: $_green-300;
  }

  &--outcome {
    color: $_red-300;
  }

  input[type=checkbox] {
    position: relative;
    border: 2px solid $_gray-100;
    border-radius: 2px;
    background: $_gray-700;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
  }

  input[type=checkbox]:hover {
    opacity: 1;
  }

  input[type=checkbox]:checked {
    background-color: $_green-300;
    opacity: 1;
    border: 2px solid $_green-300;
  }

  input[type=checkbox]:checked:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid $_white;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
  }
}