.transactions-container__search {
  display: flex;
  gap: 1rem;

  input {
    flex: 1;
    border-radius: 6px;
    padding: 1rem;
    border: none;
    background-color: $_gray-900;
    color: $_gray-300;
    outline: none;

    &::placeholder {
      color: $_gray-500;
    }

  }
  
  input:focus {
    border: 1px solid $_green-300;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    border: 0;
    padding: 1rem;
    background: transparent;
    border: 1px solid $_green-300;
    color: $_green-300;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;

    // &:disabled {
    //   opacity: 0.6;
    //   cursor: not-allowed;
    // }

    &:not(:disabled):hover {
      background: $_green-500;
      border-color: $_green-500;
      color: $_white;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s;

      .transactions-container__icon {
        color: $_white;
      }
    }
    .transactions-container__icon {
      color: $_green-300;
      width: 1.25rem;
    }
  }
}